<div class="title">Simple</div>
<img ngxHero src="https://picsum.photos/id/200/400" alt="demo-image" />

<div class="title">
  Switch dynamically to a higher-resolution image when it is opened.
</div>
<img
  ngxHero
  highQualityPath="https://picsum.photos/id/200/2000"
  src="https://picsum.photos/id/200/400"
  alt="demo-image"
/>

<div class="title">Animation from all sides</div>
<div class="row">
  <img
    ngxHero
    highQualityPath="https://picsum.photos/id/100/2000"
    src="https://picsum.photos/id/100/400"
    alt="demo-image"
  />
  <img
    ngxHero
    highQualityPath="https://picsum.photos/id/101/2000"
    src="https://picsum.photos/id/101/400"
    alt="demo-image"
  />
  <img
    ngxHero
    highQualityPath="https://picsum.photos/id/102/2000"
    src="https://picsum.photos/id/102/400"
    alt="demo-image"
  />
</div>

<div class="title">Option 'fixedHero'</div>
<div class="subtitle">
  If the parent elements have 'overflow: hidden', you can enable the 'fixedHero'
  option to ensure that the hero animation continues to function as expected.
</div>
<div class="fixed-row">
  <aside class="fixed-container">
    @for (item of placeholders; track $index) {
    <div class="placeholder" [innerText]="$index"></div>
    }
  </aside>
  <section class="fixed-container">
    <img
      ngxHero
      fixedHero
      highQualityPath="https://picsum.photos/id/55/2000"
      src="https://picsum.photos/id/55/200"
      alt="demo-image"
    />
  </section>
</div>

<div class="title">
  Automatically select the supported image format for the open image based on
  the browser's compatibility.
</div>
<picture>
  @for (format of imgFormats; track format) {
  <source srcset="assets/img/demo.{{format}}" type="image/{{ format }}" />
  }
  <img
    ngxHero
    [supportedFormats]="imgFormats"
    src="assets/img/demo.jpeg"
    alt="assets/img/demo-image"
  />
</picture>
